h2 {
    text-align: center;
    font-size: 350%;
    color: gray;
}
h3{
    text-align: center;
    font-size: 200%;
}
h4 {
    text-align: center;
    font-size: 200%;
}
body {
    background-color: bisque
}

.carousel img {
    margin: auto;
}